.nav-header {
  display: inline-block;
}

navbar {
  .nav-content {
    border-bottom: 1px solid black;
    padding: 0 5px;
  }

  .btn-nav {
    background: transparent;
    a {
      color: black;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
