{{#if auth.isAuthenticated}}
  {{textarea
    class="comment-textarea"
    type=text
    value=comment.content}}
  <div>
    <button class="btn-posts" {{action 'newComment'}}>Save</button>
  </div>
{{/if}}
