{{#if auth.isAuthenticated}}
  {{textarea
    class="comment-textarea"
    type=text
    value=comment.content}}
  <div>
    <button class="btn-posts" {{action 'newChild' parent.id}}>Save</button>
    <button class="btn-posts" {{action 'closeReply'}}>Cancel</button>
  </div>
{{/if}}
